body{
    background-color: #708090;
    font-family: sans-serif;
    margin: 0px;
}
.header{
    color: #FBEFE3;
    background-image: linear-gradient(to right, #0B1316, transparent);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    width: 100%;
}
.logo{
    margin-left: 50px;
    margin-right: 30px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
}
.menuItem{
    margin: 10px;
    text-decoration: none;
    font-size: large;
    color: #FBEFE3;

}
.menuItem a{
    text-decoration: none;
    color: #FBEFE3;
    margin: 0px;
}
.menuItem form{
    margin: 0px;
}
input[type=text] {
    background: transparent;
    color: #FBEFE3;
    width: 80px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #FBEFE3;
}
input[type=text]:focus {
    border: 1px solid #FBEFE3;
}
input[type=submit]{
    box-sizing: border-box;
    background: transparent;
    color: #FBEFE3;
    border: 1px solid #FBEFE3;
}
input[type=submit]:hover{
    box-sizing: border-box;
    background: #FBEFE3;
    color: #0B1316;
    border: 1px solid #FBEFE3;
}
svg {
    width: 14px;
    height: 14px;
    margin: 0px;
    padding: 0px;
    fill:#305E78
}
svg:hover {
    fill: red;
}
.localAirport{
    margin: 50px;
    color: #0B1316;
}
.localAirport p{
    font-size: large;
    font-weight: bolder;
    margin: 3px;
}
.localAirport h1{
    margin: 3px;
}

.listHeader {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 10px;
}
.flight{
    /*border: 1px solid #C3A19F;*/
    color: #FBEFE3;
    background-color: #305E78;
    opacity: 0.6;
    margin: 15px 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flight:hover{
    opacity: 0.85;
}
.flight div{
    width: 15%;
    text-align: center;
}
.delayed{
    background-color: #826779;
}
.weather{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer{
    color: #826779;
    font-size: small;
    text-align: center;
    margin: 50px;
}


/*alert*/
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}